[data-testid="stToolbar"] { display: none !important; }
[data-testid="stHeader"] { display: none !important; }
[data-testid="stSidebar"] {display: none;}

.stApp {
    background: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.navbar a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.title {
    display: flex;
    justify-content: center;
}
img {
    height: 250px;
    width: 400px;
}
.subtitle {
    text-align: center;
    color: #f1d7d7;
    font-style: italic;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
div.stButton {
    display: flex;
    justify-content: center;
}
div.stButton > button {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    width: 220px;
    height: 80px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
div.stButton > button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
}
